@using BookReviewingMVC.Models;
@using BookReviewing_MVC.Utilities;
@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}


<div class="row m-3">
    <div class="col-6">
        <h2>Authors</h2>
    </div>
    @if (User.IsInRole(SD.Role_Admin))
    {
        <div class="col-6 text-end">
            <a asp-controller="Author" asp-action="Create" class="btn btn-primary">
                Create
            </a>
        </div>
    }
</div>

<table class="table table-striped" style="width:100%">

    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            @if (User.IsInRole(SD.Role_Admin))
            {
                <th>Update</th>
                <th>Delete</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.Id</td>
                <td>@n.FirstName</td>
                <td>@n.LastName</td>
                <td>@n.Country.Name</td>
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <td width="10%">
                        <a asp-controller="Author" asp-action="Update" asp-route-id="@n.Id" class="btn btn-primary">Update</a>
                    </td>
                    <td width="10%">
                        <a asp-controller="Author" asp-action="Delete" asp-route-id="@n.Id" class="btn btn-danger">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
