@using BookReviewingMVC.Models;
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Books</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Book" asp-action="Create">
                Create
            </a>
        </div>
    </div>

    <div class="container-p3">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Isbn</th>
                    <th>DatePublished</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Isbn</td>
                        <td>@book.DatePublished</td>
                        <td width="10%">
                            <a asp-controller="Book" asp-action="Update" asp-route-id="@book.Id" class="btn btn-primary">Update</a>
                        </td>
                        <td width="10%">
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>